<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>oh-my-page</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <style>
        body{ margin: 0; padding-top: 40px;}
        h3{ margin-bottom: 40px; }
        [v-cloak] { display: none; }
        .rule { margin-bottom: 30px; }
    </style>
</head>
<body>
    <h3 class="text-center">Oh-My-Page</h3>
    <div id="app" class="app row">
        <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1">
            <div class="form-horizontal">
                <div class="form-group clearfix">
                    <!-- <label for="" class="col-xs-2 control-label">搜索：</label>
                    <div class="col-xs-8">
                        <input type="text" v-model="searchUrl" v-on:input.trim="fnFilter" class="form-control input-sm">
                    </div> -->
                    <div class="col-xs-2 pull-right">
                        <button v-show="!showCreateRuleForm && (showCreateRuleBtn || !empty)" v-on:click="fnShowCreateRuleForm" class="btn btn-success btn-sm pull-right">新建规则</button>
                    </div>
                </div>
            </div>
            <hr>
            <rule v-show="showCreateRuleForm || empty" :create="true"></rule>
            <rule v-for="rule in rules" :rule-data="rule" :key="rule.id"></rule>
        </div>
    </div>
    <!-- <script src="../js/jquery.min.js"></script> -->
    <script id="ruleTpl" type="text/tpl">
        <div class="form-horizontal rule">
            <div class="form-group">
                <label for="" class="col-xs-2 control-label">网址：</label>
                <div class="col-xs-10">
                    <input type="text" v-model="url" v-on:input="fnAltered" class="form-control input-sm" placeholder="http://xxx.xxx.xxx">
                </div>
            </div>
            <div class="form-group">
                <label for="" class="col-xs-2 control-label">脚本：</label>
                <div class="col-xs-10">
                    <textarea rows="3" v-model="jscode" v-on:input="fnAltered" class="form-control input-sm" placeholder="粘贴您的js代码"></textarea>
                </div>
            </div>
            <div v-show="create || !pristine" class="clearfix">
                <button class="btn btn-success btn-sm pull-right" v-bind:class="{disabled: error}" v-on:click="saveRule">{{create ? '新建' : '保存'}}规则</button>
                <button v-on:click="fnReset" class="btn btn-default btn-sm pull-right" style="margin-right: 10px">取消</button>
            </div>
        </div>
    </script>
    <script src="../js/vue.js"></script>
    <script src="options.js"></script>
</body>
</html>